<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
body {
margin:0;
overflow-x:hidden;
}

.footer{
background:#000;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

ion-icon {
    font-size: 30px;
}

.icon {
    display: inline-block;
    line-height: 24px;
    padding: 8px 12px;
}


@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}
</style>
<footer>
    <div class="footer">
    <div class="row">
    <a href="#" class="icon"><ion-icon name="logo-google"></ion-icon></a>
    <a href="#" class="icon"><ion-icon name="logo-facebook"></ion-icon></a>
    <a href="#" class="icon"><ion-icon name="logo-youtube"></ion-icon></a>

    </div>
    
    <div class="row">
    <ul>
    <li><a href="#">Contact us</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Terms & Conditions</a></li>
    </ul>
    </div>
    
    <div class="row">
    Starbuzz Copyright © 2023 
    </div>
    </div>
    </footer>
    <script
    type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js">
    </script>